<header class="header">
    <div class="container">
        {{> navbar }}
        <div class="row">
            <section class="offer">
                <h2 class="offer__title">Ваши ресницы - моя гордость!</h2>
                <p class="offer__text">Меня зовут Яна, я мастер по ресницам!</p>
                <button class="offer__button">записаться</button>
            </section>
            <div class="main-logo">
                <img class="main-logo__image" src="/assets/images/main-logo.png" alt="main-logo">
                <h2 class="main-logo__title">Yana Lashmaker</h2>
            </div>
        </div>
        
    </div>
</header>
